{% extends 'base.html.twig' %}

{% block title %}{{ 'connexion'|trans }}{% endblock %}

{% block body %}
    <div id="label-h2-root"></div>
    {# Gestion des erreurs de connexion #}
    {% if error is defined and error %}
        <div class="form-group">
            <div class="flash-error">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>
    {% endif %}
    {# Affichage des messages flash de succès #}
    {% for message in app.flashes('success') %}
        <div class="form-group">
            <div class="flash-success">
                {{ message|trans }}
            </div>
        </div>
    {% endfor %}
    {# Formulaire de connexion #}
    {{ form_start(loginForm, {'method': 'POST'}) }}
        <div class="form-group">
            <div id="label-username-root"></div>
            {{ form_widget(loginForm.username) }}
        </div>
        <div class="form-group">
            <div id="label-password-root"></div>
            {{ form_widget(loginForm.password) }}
        </div>

        <div id="password-switch" data-password-field-id="login_form_password"></div>

        <div class="form-group">
            <div><p>Captcha</p></div>
            {{ form_widget(loginForm.captcha) }}
            {{ form_widget(loginForm.captcha_hidden) }}
            <div class=" mt-2"></div>
            <img src="{{ path('captcha_image') }}" alt="Captcha" />
        </div>
        
        <div class="espacement"></div>
        
        <div class="form-group">
            {{ form_widget(loginForm.login, {'attr': {'class': 'green-button'}}) }}
        </div>
        <div class="form-group mt-2">
            <a href="{{ path('forgot_password') }}" ><span id="label-forgot-root"></span></a>
        </div>
    {{ form_end(loginForm) }}
{% endblock %}