{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h2>{{ 'connexion'|trans }}</h2>

    {{ form_start(loginForm) }}
        {{ form_row(loginForm.username) }}
        {{ form_row(loginForm.password) }}
        {{ form_row(loginForm.login) }}
    {{ form_end(loginForm) }}

    {% if error %}
        <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% endblock %}