{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div id="label-topreset-root"></div>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.password) }}
        </div>
        
        <div id="password-switch" data-password-field-id="form_password"></div>
        
        <div class="form-group">
            {{ form_row(form.reinit, {'attr': {'class': 'green-button'}}) }}
        </div>
        <div class="form-group mt-2">
            <a href="{{ path('login') }}"><span id="label-backto-root"></span></a>
        </div>
    {{ form_end(form) }}
{% endblock %}
