{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h2>Réinitialisation du mot de passe</h2>

    <p>Veuillez entrer un nouveau mot de passe.</p>

    {{ form_start(form) }}
        {{ form_row(form.password, {'attr': {'placeholder': 'Nouveau mot de passe'}}) }}
        {{ form_row(form.reinit, {'attr': {'class': 'green-button'}}) }}
    {{ form_end(form) }}

    <a href="{{ path('login') }}">Retour à la connexion</a>
{% endblock %}
