{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h2>Réinitialisation du mot de passe</h2>
    
    {{ form_start(form) }}
        <div class="form-group">
            <p>Veuillez entrer un nouveau mot de passe.</p>
        </div>
        <div class="form-group">
            {{ form_row(form.password, {'attr': {'placeholder': 'Nouveau mot de passe'}}) }}
        </div>
        
        <div id="password-switch" data-password-field-id="form_password"></div>
        
        <div class="form-group">
            {{ form_row(form.reinit, {'attr': {'class': 'green-button'}}) }}
        </div>
        <div class="form-group mt-2">
            <a href="{{ path('login') }}">Retour à la connexion</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
