{% extends 'base.html.twig' %}

{% block body %}
<div class="card-folder-gallery">
    {% for album in albums %}
        {% if (album.isVisible and album.isApproved) or album.creator.id == app.user.id %}
            <div class="card-folder-container">
                <div class="card-folder">
                    <!-- Face avant -->
                    <div class="card-folder-front">
                        {% if album.imagePath is not null %}
                            <img 
                                src="{{ asset('uploads/albums/' ~ album.imagePath) }}" 
                                alt="Dossier"
                            >
                        {% endif %}
                    </div>
                    <!-- Face arrière de la carte -->
                    <a class="card-folder-back" href="{{ path('photos_by_album', { 'id': album.id }) }}">
                        <div>
                            <p>Créé le {{album.createdAt|date('d/m/Y H:i:s')}}</p>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="album-actions">
                                    <!-- Conteneur React pour les autres contrôles -->
                                    <div id="album-controls-{{ album.id }}" 
                                        data-album-id="{{ album.id }}" 
                                        data-album-name="{{ album.nomAlbum }}" 
                                        data-album-url="{{ asset('uploads/albums/' ~ album.imagePath) }}"
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </div>
                <p class="card-folder-name">{{ album.nomAlbum }} ({{album.photoCount}})</p>
            </div>
            
        {% endif %}
    {% endfor %}
</div>

{% endblock %}