{% extends 'base.html.twig' %}

{% block body %}
<div class="card-folder-gallery">
    {% for album in albums %}
        {% if (album.isVisible and album.isApproved) or (app.user and album.creator.id == app.user.id) %}
            <div class="card-folder-container">
                <div class="card-folder">
                    <!-- Face avant -->
                    <div class="card-folder-front">
                        {% if album.imagePath is not null %}
                            <img 
                                src="{{ asset('uploads/photos/'~ album.creator.id ~ '/' ~ album.getNomAlbum() ~ '/cover_photo/' ~ album.imagePath) }}" 
                                alt="Dossier"
                            >
                        {% endif %}
                    </div>
                    <!-- Face arrière de la carte -->
                    <a class="card-folder-back" href="{{ path('photos_by_album', { 'id': album.id }) }}">
                        <div>
                            <p>Créé le {{album.createdAt|date('d/m/Y H:i:s')}}</p>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="album-actions">
                                    <!-- Conteneur React pour les autres contrôles -->
                                    <div id="album-controls-{{ album.id }}" 
                                        data-album-id="{{ album.id }}" 
                                        data-album-name="{{ album.nomAlbum }}" 
                                        data-album-url="{{ asset('uploads/albums/' ~ album.imagePath) }}"
                                    ></div>
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </div>

                <!-- Nom de l'album avec styles et icônes conditionnels -->
                <p 
                    class="card-folder-name" 
                    {% if app.user and album.creator.id == app.user.id %}style="color: green;"{% endif %}
                >
                    {{ album.nomAlbum }} ({{album.photoCount}})
                    
                    {% if (not album.isApproved or not album.isVisible) and album.creator.id == app.user.id %}
                        <span class="icon-danger" title="Non approuvé ou invisible" style="color: red;">&#9888;</span>
                    {% endif %}
                </p>
            </div>
            
        {% endif %}
    {% endfor %}
</div>

{% endblock %}