{% extends 'base.html.twig' %}

{% block body %}
<h2>{{ 'pictures_of_album'|trans}} {{ album.getNomAlbum() }}</h2>

<div class="polaroid-images">
    {% for photo in photos %}
        <a href="{{ path('photo_show', {'id': photo.id}) }}">
            <img src="{{ asset('uploads/photos/' ~ photo.filePath) }}" alt="{{ photo.title }}" class="photo-thumbnail">
        </a>   
    {% endfor %}
</div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
