{% extends 'base.html.twig' %}

{% block body %}
<h1>Photos de l'album : {{ album.getNomAlbum() }}</h1>

<div class="photos-container">
    {% for photo in photos %}
        <div class="photo">
            <img src="{{ asset('uploads/photos/' ~ photo.filePath) }}" alt="{{ photo.title }}" class="photo-thumbnail">
            <p>{{ photo.title }}</p>
            <!-- Conteneur React pour modifier/supprimer -->
            <div id="photo-controls-{{ photo.id }}" data-photo-id="{{ photo.id }}" data-photo-title="{{ photo.title }}" data-photo-url="{{ asset('uploads/photos/' ~ photo.filePath) }}"></div>
        </div>
    {% else %}
        <p>Aucune photo dans cet album.</p>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
