{% extends 'base.html.twig' %}

{% block title %}Détails de la photo{% endblock %}

{% block body %}
    <div class="center">
        <div class="polaroid-images">
            <a href="#">
                <img src="{{ asset('uploads/photos/' ~ photo.filePath) }}" alt="{{ photo.title }}" class="polaroid-thumbnail">
            </a>
        </div>
    </div>

    <p class="details-photo"><strong>Album :</strong> {{ photo.album ? photo.album.nomAlbum : 'Sans album' }}</p>
    <p class="details-photo"><strong>Nombre de likes :</strong> {{ photo.likesCount }}</p>

    <h2>{{"comments"|trans}}</h2>
    {% if comments|length > 0 %}
        <ul>
            {% for comment in comments %}
                <li>
                    <strong>{{ comment.user.username }}</strong> : {{ comment.content }}
                    <br>
                    <small>Posté le {{ comment.createdAt|date('d/m/Y H:i') }}</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="center"><p>{{"no_comment"|trans}}</p></div>
    {% endif %}

    {% if app.user %}
        {{ form_start(commentForm) }}
            <div class="form-group">
                {{ form_widget(commentForm.content, {'attr': {'placeholder': 'leave_comment'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(commentForm.send, {'attr': {'class': 'green-button'}}) }}
            </div>
        {{ form_end(commentForm) }}
    {% else %}
        <p>{{"connected_to_comment"|trans}}</p>
    {% endif %}
{% endblock %}
