{% extends 'base.html.twig' %}

{% block title %}Détails de la photo{% endblock %}

{% block body %}
    <h1>{{ photo.title }}</h1>
    <div class="photo-agrandie"><img src="{{ asset('uploads/photos/' ~ photo.filePath) }}" alt="{{ photo.title }}" ></div>

    <p class="details-photo"><strong>Album :</strong> {{ photo.album ? photo.album.nomAlbum : 'Sans album' }}</p>
    <p class="details-photo"><strong>Nombre de likes :</strong> {{ photo.likesCount }}</p>

    <h2>{{"comments"|trans}}</h2>
    {% if comments|length > 0 %}
        <ul>
            {% for comment in comments %}
                <li>
                    <strong>{{ comment.user.username }}</strong> : {{ comment.content }}
                    <br>
                    <small>Posté le {{ comment.createdAt|date('d/m/Y H:i') }}</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{"no_comment"|trans}}</p>
    {% endif %}

    <h2>{{"leave_comment"|trans}}</h2>
    {% if app.user %}
        <form action="{{ path('comment_add', { id: photo.id }) }}" method="post"> <!-- @TODO il faudra faire le formulaire symfony -->
            <textarea name="content" rows="4" style="width: 100%;" placeholder="Votre commentaire..."></textarea>
            <button type="submit" class="green-button">{{"send"|trans}}</button>
        </form>
    {% else %}
        <p>{{"connected_to_comment"|trans}}</p>
    {% endif %}
{% endblock %}
