{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ "create_new_album"|trans }}</h2>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_widget(form.nomAlbum) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.image_path) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.create_album, {'attr': {'class': 'green-button'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}