{# base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Album Photo{% endblock %}</title>
    {{ encore_entry_link_tags('app-ts') }}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="icon" href="{{ asset('images/favicon.png') }}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    {% block head %}{% endblock %}
</head>
<body class="dark-mode">
    <div id="languette-root"></div>
    <!-- Header classique pour desktop -->
    <header class="header old-header">
        <!-- Section gauche : navigation principale -->
        <nav class="header-left">
            <form method="get" action="{{ path('change_locale') }}">
                <div class="custom-select">
                    <div class="selected-option">
                        {% if app.request.locale == 'fr' %}
                            <img src="{{ asset('images/fr.png') }}" alt="Français" class="flag-icon" />
                        {% elseif app.request.locale == 'en' %}
                            <img src="{{ asset('images/gb.png') }}" alt="English" class="flag-icon" />
                        {% elseif app.request.locale == 'es' %}
                            <img src="{{ asset('images/es.png') }}" alt="Espanol" class="flag-icon" />
                        {% elseif app.request.locale == 'de' %}
                            <img src="{{ asset('images/de.png') }}" alt="Deutsch" class="flag-icon" />
                        {% endif %}
                    </div>
                    <ul class="options">
                        {% if app.request.locale != 'fr' %}
                            <li>
                                <a href="{{ path('change_locale', {'locale': 'fr'}) }}">
                                    <img src="{{ asset('images/fr.png') }}" alt="Français" class="flag-icon" />
                                </a>
                            </li>
                        {% endif %}
                        {% if app.request.locale != 'en' %}
                            <li>
                                <a href="{{ path('change_locale', {'locale': 'en'}) }}">
                                    <img src="{{ asset('images/gb.png') }}" alt="English" class="flag-icon" />
                                </a>
                            </li>
                        {% endif %}
                        {% if app.request.locale != 'es' %}
                            <li>
                                <a href="{{ path('change_locale', {'locale': 'es'}) }}">
                                    <img src="{{ asset('images/es.png') }}" alt="Espanol" class="flag-icon" />
                                </a>
                            </li>
                        {% endif %}
                        {% if app.request.locale != 'de' %}
                            <li>
                                <a href="{{ path('change_locale', {'locale': 'de'}) }}">
                                    <img src="{{ asset('images/de.png') }}" alt="Deutsch" class="flag-icon" />
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </form>
            <a href="{{ path('portfolio_home') }}" class="{% if app.request.attributes.get('_route') == 'portfolio_home' %}active{% endif %}">{{ 'home'|trans }}</a>
            <div class="dropdown">
                <a href="{{ path('photo_albums') }}" class="{% if app.request.attributes.get('_route') == 'photo_albums' %}active{% endif %}">{{ 'photos'|trans }}</a>
                {% if is_granted('ROLE_USER') %}
                    <div class="dropdown-content">
                        <a href="{{ path('album_new') }}">{{ 'create_album'|trans }}</a>
                        <a href="{{ path('photo_upload') }}">{{ 'upload_photo'|trans }}</a>
                    </div>
                {% endif %}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="dropdown">
                    <a href="{{ path('articles_index') }}" class="{% if app.request.attributes.get('_route') == 'articles_index' %}active{% endif %}">articles</a>
                    <div class="dropdown-content">
                        <a href="{{ path('article_create') }}">nouvel article</a>
                        <a href="{{ path('theme_create') }}">nouveau theme</a>
                    </div>
                </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('reference') }}" class="{% if app.request.attributes.get('_route') == 'reference' %}active{% endif %}">{{ 'references'|trans }}</a>
            {% endif %}
            <a href="{{ path('contact') }}" class="{% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}">{{ 'contact'|trans }}</a>
        </nav>
        <!-- Section centrale : logo -->
        <div class="header-center">
            <a class="logo" href="{{ path('portfolio_home') }}">
                <img src="{{ asset('images/logoGQ.png') }}" alt="logo GQ">
            </a>
        </div>
        <!-- Section droite : utilisateur et langue -->
        <div class="header-right">
            {% if app.user %}
                <div class="dropdown">
                    <a href="#" 
                       class="{% if app.request.attributes.get('_route') == 'logout' %}active{% endif %}">
                        {{ 'welcome'|trans }} {{ app.user.username }} !
                    </a>
                    <div class="dropdown-content">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('dashboard') }}">{{ 'dashboard'|trans }}</a>
                        {% endif %}
                        <a href="{{ path('logout') }}">{{ 'disconnection'|trans }}</a>
                    </div>
                </div>
            {% else %}
                <a href="{{ path('login') }}" 
                   class="{% if app.request.attributes.get('_route') == 'login' %}active{% endif %}">
                    {{ 'connexion'|trans }}
                </a>
                <a href="{{ path('register') }}" 
                   class="register {% if app.request.attributes.get('_route') == 'register' %}active{% endif %}">
                    {{ 'inscription'|trans }}
                </a>
            {% endif %}
            <div id="lightModeToggle"></div>
        </div>
    </header>

    <!-- Header React pour smartphone et tablette -->
    <div id="header-root" class="hamburger-header"></div>

    <div class="main-content-wrapper">
        <div class="main-content">
            <main>
                {% block body %}{% endblock %}
            </main>
        </div>
    </div>

    <footer>
        <p>© {{ 'copyright'|trans }} - Guillaume Quesnel</p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/guillaume-quesnel-a567352aa/" target="_blank">
                <img src="{{ asset('images/logo_linkedin.png') }}" alt="LinkedIn" class="social-icon">
            </a>
        </div>
    </footer>

    <div id="cookie-consent"></div>

    <!-- Spinner et message en overlay -->
    <div id="spinner-overlay">
        <div class="spinner"></div>
        <div class="message">Traitement en cours...</div>
    </div>
    {{ encore_entry_script_tags('app-ts') }}
    {% block javascripts %}{% endblock %}
</body>
</html>
