<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Album Photo{% endblock %}</title>
    {{ encore_entry_link_tags('app-ts') }}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="icon" href="{{ asset('images/favicon.png') }}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    {% block head %}{% endblock %}
</head>
<body class="dark-mode">
    <div id="header-root"></div>
    <div class="main-content-wrapper">
        <div class="main-content">
            <main>
                {% block body %}{% endblock %}
            </main>
        </div>
    </div>

    <footer>
        <p>© {{ 'copyright'|trans }} - Guillaume Quesnel</p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/guillaume-quesnel-a567352aa/" target="_blank">
                <img src="{{ asset('images/logo_linkedin.png') }}" alt="LinkedIn" class="social-icon">
            </a>
        </div>
    </footer>

    <div id="cookie-consent"></div>

    <!-- Spinner et message en overlay -->
    <div id="spinner-overlay">
        <div class="spinner"></div>
        <div class="message">Traitement en cours...</div>
    </div>
    {{ encore_entry_script_tags('app-ts') }}
    {% block javascripts %}{% endblock %}
</body>
</html>
