{# base.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Album Photo{% endblock %}</title>
    {{ encore_entry_link_tags('app-ts') }} <!-- Assure-toi que ceci charge les bons fichiers CSS/JS générés par Webpack -->
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    
    {% block head %}{% endblock %}
</head>
<body class="dark-background">

    <header class="header">
        <h1>Bienvenue sur mon portfolio</h1>
        <nav>
            <div class="menu">
                <a href="{{ path('portfolio_home') }}" class="{% if app.request.attributes.get('_route') == 'portfolio_home' %}active{% endif %}">Accueil</a>
                <div class="dropdown">
                    <a href="{{ path('photo_albums') }}" class="{% if app.request.attributes.get('_route') == 'photo_albums' %}active{% endif %}">Photos</a>
                    <div class="dropdown-content">
                        <a href="{{ path('album_new') }}">Créer un album</a>
                        <a href="{{ path('photo_upload') }}">Télécharger une photo</a>
                    </div>
                </div>
                <a href="{{ path('reference') }}" class="{% if app.request.attributes.get('_route') == 'reference' %}active{% endif %}">Références</a>
            </div>
        </nav>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Mon Album Photo</p>
    </footer>

    {{ encore_entry_script_tags('app-ts') }} <!-- Chargement correct du fichier JavaScript via Webpack -->
    {% block javascripts %}{% endblock %}
</body>
</html>
