{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel article{% endblock %}

{% block body %}
    <h1>Rédiger un nouvel article</h1>
<p>Auteur : {{ form.author.vars.data.username }}</p>
    {{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}
        {{ form_row(form.author) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.published) }}
        {{ form_row(form.save, {'attr': {class:'green-button'}}) }}
    {{ form_end(form) }}

    {# Ajouter le script TinyMCE à la fin du formulaire #}
    <script src="https://cdn.tiny.cloud/1/kabvnq0v1wn1ibq3zfglnmtpeswg4pu9a7nh6vi8fmfrat8c/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#{{ form.content.vars.id }}',  // Sélecteur du champ content
            plugins: 'advlist autolink lists link image charmap print preview anchor searchreplace visualblocks code fullscreen insertdatetime media table paste code help wordcount',
            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
            height: 500
        });
    </script>
{% endblock %}
