{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h2>Liste des articles</h2>

    <table class="table-strip">
        <thead>
            <tr>
                <th>Auteur</th>
                <th>Titre</th>
                <th>Theme</th>
                <th>Date de création</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.author.username }}</td>
                    <td>{{ article.title }}</td>
                    <td>{% if article.theme %}
                            {{ article.theme.name }}
                        {% else %}
                            Non classé
                        {% endif %}
                    </td>
                    <td>{{ article.createdAt|date('d/m/Y H:i:s') }}</td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td class="td-actions">
                            <div class="crud-buttons">
                                <a class="view" href="{{ path('article_show', {'id': article.id}) }}">Voir</a>
                                <a class="edit" href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>
                                <!-- Formulaire de suppression -->
                                <form method="post" action="{{ path('article_delete', {'id': article.id}) }}" style="display:inline;">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?')">Effacer</button>
                                </form>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Afficher la pagination -->
    
    {{ knp_pagination_render(articles) }}


    {% if app.user %}
        <div class="center">
            <a href="{{ path('article_create') }}" class="green-button inline-block">Rédiger un nouvel article</a>
        </div>
    {% endif %}
{% endblock %}
