{# templates/article/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <h2>{{ article.title }}</h2>
    {% if article.theme %}
        <p>Thème : {{ article.theme.name }}</p>
    {% else %}
        <p>Non classé</p>
    {% endif %}
    <p><strong>Auteur:</strong> {{ article.author.username }}</p>
    <p><strong>Date de création:</strong> {{ article.createdAt|date('Y-m-d') }}</p>
    <p>{{ article.content|raw }}</p>

    <a href="{{ path('articles_index') }}">Retour à la liste des articles</a>
{% endblock %}
